/*GENERAL DEFINITIONS*/
a {
	text-decoration: none;
	color: #fff;
}
body {
	/*max-width: 960px;*/
	margin: 0 auto;
	font-size: 10px;
}
.img-responsive {
	width: 100%;
	height: auto;
}
.oswald-text {
	font-family: 'Oswald', sans-serif;
}
.roboto-text {
	font-family: 'Roboto', sans-serif;
}
/*GENERAL DEFINITIONS*/
/*HEADER*/


#header {
	max-width: 100%;
	margin: 0px auto;
	text-align: center;
	background-image: url(../img/header-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
#logo {
	margin-top: 2.5em;
	margin-bottom: 2em;
}
#header p {
	font-size: 1.7em;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
	padding: 0px 10px 30px 10px;
	margin: 0 auto;
	color: #ffffff;
	max-width: 960px;
}

#SocialContainer {
	position: fixed;
	top: 50%;
}
#Facebook {
	position: fixed;
	right: 0;
	height: 40px;
	width: 50px;
	background: #006fca;
	text-align: left;
	font-size: 3em;
	color: #fff;
	padding-left: 10px;
	padding-top: 5px;
	margin-right: -15px;
	margin-top: 2px;
}
#Twitter {
	position: fixed;
	right: 0;
	height: 40px;
	width: 50px;
	background: #28aae1;
	text-align: left;
	font-size: 3em;
	color: #fff;
	padding-left: 10px;
	padding-top: 5px;
	margin-right: -15px;
	margin-top: 50px;
}
#LinkedIn {
	position: fixed;
	right: 0;
	height: 42px;
	width: 50px;
	background: #136d9d;
	text-align: left;
	font-size: 3em;
	color: #fff;
	padding-left: 10px;
	padding-top: 3px;
	margin-right: -15px;
	margin-top: 98px;
}
#Facebook:hover, #Twitter:hover, #LinkedIn:hover {
	transition: all 0.3s;
	right: 15px;
}

/*END: HEADER*/
/*HRTECH WEBSITES*/
#event-container {
	display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;
	justify-content: center;
	
	display: -webkit-flex;
	-webkit-flex-direction: row;
	-webkit-flex-wrap: no-wrap;
	-webkit-justify-content: center;
	
	margin: 25px 10px 10px 10px;
	text-align: center;
}

.eventtwo-container {
	display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;
	justify-content: center;
	
	display: -webkit-flex;
	-webkit-flex-direction: row;
	-webkit-flex-wrap: no-wrap;
	-webkit-justify-content: center;

}
.event-photo, .event-button {
	max-width: 270px;
}

.event {
	max-width: 290px;
	text-align: center;
	text-transform: uppercase;
	margin: 15px 27px 30px 27px;
	display: inline-block;
}

.event-title {
	font-size: 4em;
	color: #30bfed;
	line-height: 1em;
}
.event-date {
	font-size: 2.8em;
	color: #414141;
	margin-bottom: 10px;
	margin-top: 0px;
}
.event-day {
	letter-spacing: 7px;
}
.event-button {
	font-size: 1.8em;
	color: #ffffff;
	background-color: #5dbcda;
	padding: 7px 0;
	margin-top: 0px;
	width: 100%;
	position: relative;
	top: -5px;
}
.event-button:hover {
	color: #ffffff;
	background-color: #30bfed;
}
/*END: HRTECH WEBSITES*/

/*FOOTER*/
#footer {
	max-width: 100%;
	background-color: #363636;
	-webkit-box-shadow: inset 0px 5px 5px -4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: inset 0px 5px 5px -4px rgba(0, 0, 0, 0.75);
	box-shadow: inset 0px 5px 5px -4px rgba(0, 0, 0, 0.75);
	text-align: center;
}
#footer-flexcontainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	-webkit-align-items: center;
	
	max-width: 960px;
	margin: 0 auto;
}
#footer h3 {
	color: #fff;
	font-size: 1.4em;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 0;
}
#footer p {
	color: #e3e3e3;
	font-size: 1.4em;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 0;
}
.footer-item {
	text-align: left;
	margin: 15px;
}
#hrnlogo {
	margin-left: 10px;
}
#general-enquiries p {
	color: #e3e3e3;
}
#general-enquiries p a {
	color: #e3e3e3;
}
#footer-socialicons {
	display: none;
}
#socialicons-flexcontainer {
	display: flex;
	flex-wrap: no-wrap;
	justify-content: space-around;
	
	display: -webkit-flex;
	-webkit-flex-wrap: no-wrap;
	-webkit-justify-content: space-around;	
}
.footer-socialicon {
	width: 40px;
	height: 40px;
	margin: 7px;
	margin-top: 15px;
}
#facebook-icon {background-image: url(../img/facebook-icon.svg);}
#twitter-icon {background-image: url(../img/twitter-icon.svg);}
#linkedin-icon {background-image: url(../img/linkedin-icon.svg);}
#slideshare-icon {background-image: url(../img/slideshare-icon.svg);}
#flickr-icon {background-image: url(../img/flickr-icon.svg);}

/*END: FOOTER*/



@media (max-width:1125px){
	.event {
		margin-left: 15px;
		margin-right: 15px;
	}
	.event-date {
		font-size: 2.6em;
	}
}


@media (max-width:970px){ /* testing..Change back to 970px! */
	#event-container {
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	}
	.eventtwo-container {
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	}
	.event {
		margin-left: 10px;
		margin-right: 10px;
	}
}

@media (max-width:650px){
	#event-container {
		flex-wrap: no-wrap;
		-webkit-flex-wrap: no-wrap;
		margin: 10px 10px 15px 10px;
	}
	.eventtwo-container {
		
	}
	.event {
		max-width: 135px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.event-title {
		font-size: 2.5em;
	}
	.event-date {
		font-size: 1.6em;
	}
	.event-button {
		font-size: 1.7em;
	}
	#SocialContainer {
		display: none;
	}
	#footer-flexcontainer {
		max-width: 300px;
		padding-top: 15px;
	}
	.footer-item {
		text-align: center;
	}
	#footer-flexcontainer {
		flex-wrap: wrap;
		justify-content: center;
		
		-webkit-flex-wrap: wrap;
		-webkit-justify-content: center;		
	}
	#footer-socialicons {
		display: block;
	}
}
@media (max-width:360px) {
	.event {
		margin-left: 7px;
		margin-right: 7px;
	}
}

/*404*/
#VennOf404 {
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}
#VennOf404 h1 {
	font-family: "Open Sans", Helvetica, sans-serif;
	font-size: 5em;
	font-weight: 400;
}
#LinkToIndexPage {
	color:#16AAE1;
	font-size: 36px;
	font-weight: 400;
	line-height: 46px;
}
#the-venn-diagram {
	font-size: 1.7em;
	max-width: 900px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 80px;
}
@media (max-width:580px){
	#VennOf404 h1 {
		font-size: 3.6em;
	}
	#VennOf404 img {
		width: 100%;
		height: auto;
	}
	#LinkToIndexPage {
		font-size: 26px;
		line-height: 36px;
	}
}
/*END 404*/